:root{
    --main-color :rgb(0, 97, 252);
    --secondary-color : rgba(248, 59, 115, 0.753);
    --search-bg : #dbd6d696;
    --input-text : #ffffff;
    --search-btn-bg : #ece4e3bb;
    --search-btn-text : #ffffff;
    --shadow-light : rgba(0, 0, 0, 0.747);
    --lignt-card : #ffffff;
    --card-border : #d4cccc;
}
svg { 
    display: inline-block; 
    position: absolute; 
    top: 0; 
    left: 0; 
} 
.containers { 
    display: inline-block; 
    position: absolute; 
    width: 100%; 
    padding-bottom: 100%; 
    vertical-align: middle; 
    overflow: hidden; 
    top: 0; 
    left: 0;
    background-attachment: fixed;
} 

nav{
    background: transparent;
    background-attachment: fixed;
}

.margin-top{
    margin-top: 3vh;
}
input{
    padding: 5px 65px 5px 65px;
    color: var(--main-color);
    border-radius: 5px;
    border: none;
}

input[type="text"]
{
    padding: 10px 35px 10px 35px;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    width: 100%;
    background-color: var(--search-bg);
    color : var(--input-text);
    transition: padding .5s;
}

input[type="text"]:hover{
    padding: 10px 65px 10px 65px;
    transition: padding .5s;
}
input[type="submit"]{
    background-color:var(--search-btn-bg);
    padding: 10px 35px 10px 35px;
    border-radius: 5px;
    color : var(--search-btn-text);
    transition: padding .5s;
}
input[type="submit"]:hover{
    box-shadow: 0 2px 6px var(--shadow-light);
    padding: 10px 50px 10px 50px;
    transition: padding .5s;

}
.login-btn{
    border: none;
    background-color:var(--secondary-color);
    padding: 10px 35px 10px 35px;
    border-radius: 5px;
    color : var(--search-btn-text);
    transition: padding .5s;
}
.login-btn:hover{
    box-shadow: 0 2px 6px var(--shadow-light);
    padding: 10px 50px 10px 50px;
    transition: padding .5s;
}
.right{
    text-align: right;
}
.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
.intro-card{
    margin-top: 10vh;
    
}
.intro-header{
    box-shadow: 0 1px 3px #dbd6d696;
    padding: 3vh 0 0 0;
}
.intro-title{
    font-size: 2.2em;
}
.intro-sep{
    margin: 5vh 0 5vh 0;
    content: "";
    display: block;
    height: 2px;
    width: 100px;
    background-color: var(--secondary-color);
}

.stream-cards{
    align-items: center;
    
}
.stream-cards:nth-child(2){
    border: 1px solid var(--card-border);
}
.stream-cards:nth-child(2):hover{
    border:none;
}
.stream-cards:hover{
    box-shadow: 0 1px 15px var(--shadow-light);
}
.stream-cards img{
    width: 50%;
}
.stream{
    margin-bottom: 5vh;
}