:root{
    --main-color :rgb(0, 97, 252);
    --secondary-color : rgba(255, 145, 145, 0.753);
    --search-bg : #dbd6d696;
    --input-text : #ffffff;
    --search-btn-bg : #ece4e3bb;
    --search-btn-text : #ffffff;
    --shadow-light : rgba(143, 138, 138, 0.747);
    --lignt-card : #ffffff;
    --card-border : #d4cccc;
}
html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgba(236, 248, 255, 0.753);
}

svg { 
    display: inline-block; 
    position: fixed; 
    top: 0; 
    left: 0; 
} 
.containers { 
    display: inline-block; 
    position: absolute; 
    width: 100%; 
    padding-bottom: 100%; 
    vertical-align: middle; 
    overflow: hidden; 
    top: 0; 
    left: 0;
    background-attachment: fixed;
}
.headbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 3vh;
    padding-bottom: 3vh;
    z-index: 1;
    background-color:#8E5EC5;
    box-shadow: 0 1px 10px #8E5EC5;
}
#head.container{
    margin-top: 0;
}
.margin-top{
    margin-top: 3vh;
}
input{
    padding: 5px 65px 5px 65px;
    color: var(--main-color);
    border-radius: 5px;
    border: none;
}

input[type="text"]
{
    padding: 10px 35px 10px 35px;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    width: 100%;
    background-color: var(--search-bg);
    color : var(--input-text);
    transition: padding .5s;
}

input[type="text"]:hover{
    padding: 10px 65px 10px 65px;
    transition: padding .5s;
}
input[type="submit"]{
    background-color:var(--search-btn-bg);
    padding: 10px 35px 10px 35px;
    border-radius: 5px;
    color : var(--search-btn-text);
    transition: padding .5s;
}
input[type="submit"]:hover{
    box-shadow: 0 2px 6px var(--shadow-light);
    padding: 10px 50px 10px 50px;
    transition: padding .5s;

}
.login-btn{
    border: none;
    background-color:var(--secondary-color);
    padding: 10px 35px 10px 35px;
    border-radius: 5px;
    color : var(--search-btn-text);
    transition: background-color .5s;
}
.login-btn:hover{
    box-shadow: 0 2px 6px var(--shadow-light);
    background-color: rgba(91, 202, 253, 0.753);
    transition: background-color .7s;
}
.right{
    text-align: right;
}
.intro-card{
    margin-top: 10vh;
    
}
.intro-header{
    box-shadow: 0 1px 3px #dbd6d696;
    padding: 3vh 0 0 0;
}
.intro-title{
    font-size: 2.2em;
}
.intro-sep{
    margin: 5vh 0 5vh 0;
    content: "";
    display: block;
    height: 2px;
    width: 100px;
    background-color: var(--secondary-color);
}

.stream-cards{
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.562);
    backdrop-filter: blur(8px);
    transition: padding .2s;
    
}

.stream-cards:hover{
    box-shadow: 0 1px 15px var(--shadow-light);
    padding: 2vh 2vh 0 2vh;
    transition: padding .2s;
}
.stream-cards img{
    width: 50%;
}
.stream{
    margin-bottom: 5vh;
}
.container-fluid{
    padding: 10vh 0 0 0;
}
.container-fluid p{
    font-style: italic;
    padding: 7vh 10vh 10vh 10vh;
}
.about-bg{
    background-color: #ffffffc5;
    backdrop-filter: blur(28px);
}
.intro-header{
    background-color: #ffffffc5;
    backdrop-filter: blur(28px);
}




/* Small screen size css modifications */

@media only screen and (max-width: 600px) {
    .search{
        display: none;
    }
    .headbar{
    padding-top: 1vh;
    padding-bottom: 1vh;

    }
  }