<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drona | Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script type="text/javascript" src="{% static '/js/main.js' %}"></script>
</head>
<style>

html{
    background-image: url("{% static '/assets/8116.jpg' %}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width : 100%;
}
</style>
<body>
    <div class="header">
        <div class="search">
            <form action="" method="POST">
                <input type="text" placeholder="Enter your Search" name="search">
                <input type="submit" class="border-grad" name="searchkey">
            </form>
        </div>
        <div class="login-area">
            <div class="login-btn">
                <button onclick="">
                    Login
                </button>
            </div>
        </div>

        hello world !

    </div>
</body>
</html>