<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    {% static "assets" as baseUrl %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script type="text/javascript" src="{% static '/js/main.js' %}"></script>
    <title>Drona | Home</title>
  </head>
  <body>
      <!--///// BACKGROUND SVGs/////-->
    <div class="containers"> 
        <svg viewBox="0 0 500 500" 
            preserveAspectRatio="xMinYMin meet"
            style="z-index: -2;"> 
              
            <path d="M0, 100 C150, 200 350, 
                0 500, 100 L500, 00 L0, 0 Z" 
                style="stroke: none;  
                fill:rgba(30, 144, 225, 0.5);"> 
            </path> 
        </svg> 
    </div> 
      
    <div class="containers"> 
        <svg viewBox="0 0 500 500" 
            preserveAspectRatio="xMinYMin meet"
            style="z-index:-1;"> 
              
            <path d="M0, 80 C300, 0 400,  
                300 500, 50 L500, 00 L0, 0 Z" 
                style="stroke: none;  
                fill:rgba(153, 50, 204, 0.5);"> 
            </path> 
        </svg> 
    </div> 
      
    <div class="containers"> 
        <svg viewBox="0 0 500 500" 
            preserveAspectRatio="xMinYMin meet"
            style="z-index:-3;"> 
              
            <path d="M0, 100 C150, 300 350, 
                0 500, 100 L500, 00 L0, 0 Z" 
                style="stroke: none;  
                fill:rgba(220, 20, 60, 0.5);"> 
            </path> 
        </svg> 
    </div> 
<!--//// BACKGROUND SVGs END ////-->
<!--//// Navigation bar starting ////--> 
    <div class="container margin-top">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-8">
                        <form action="" method="POST">
                            <input type="text" placeholder="Enter your Search" name="search">
                    </div>
                    <div class="col-md-4">
                        <input type="submit" class="border-grad" name="searchkey">
                    </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 right">
                <button class="login-btn">
                    Login
                </button>
            </div>
        </div>
    </div>
<!-- NAvigation bar ending -->
<div class="container intro-card">

    <div class="card text-center intro-header">
        <div class="card-body">
        <h2 class="card-title intro-title">Education Empowers</h2>
        <center><span class="intro-sep"></span></center>
        <p class="card-text">Worried about which college to choose. We will help you find the best you deserve.</p>
            
            <!--//// Streams selection box ////-->
                <div class="container">
                    <div class="row streams-box">    
                            <!--//// STREAMS LIST ////-->
                            <div class="card-deck">
                                {% for stream in streams %}
                                <div class="card col-4">
                                  <img class="card-img-top margin-top" src="{{baseUrl}}/{{stream.img}}" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">{{stream.title}}</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  </div>
                                  <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                  </div>
                                </div>
                                {% endfor %}
                            </div>
                    </div>
                </div>
        </div>
    </div>

</div>
</body> 
  
</html> 


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>