
<html>
<head>
    {% load static %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
 <div class="container"> <br> <p class="text-center">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style>
    body{
    background-image: url("{% static '/assets/logBg.jpg' %}");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
</style>
<body> 
    <div id="overlay"></div>
    <article class="card-body mx-auto" style="max-width: 400px;">

 <h4 class="card-title mt-3 text-center text-light">Create Account</h4> 
 <p class="text-center text-light">Get started NOW</p>
 <p> <a href="" class="btn btn-block btn-primary"> Login via Twitter</a> 
 <a href="" class="btn btn-block btn-info"> Login via facebook</a> </p> <p class="divider-text"> 
 <span class="bg-light">OR</span> </p> 
 <form> 
     <div class="form-group input-group">
         <div class="input-group-prepend"> 
             <span class="input-group-text">
                 </span>
                 </div> <input name="" class="form-control" placeholder="Full name" type="text"> </div> <!-- form-group// -->
                 <div class="form-group input-group">
                     <div class="input-group-prepend">
                         <span class="input-group-text"> 
                             </span>
                             </div> 
                             <input name="" class="form-control" placeholder="Email address" type="email"> </div>
                             <div class="form-group input-group"> <div class="input-group-prepend"> <span class="input-group-text"> <i class="fa fa-phone"></i> 
                            </span> </div> 
 <select class="custom-select" style="max-width: 120px;"> <option selected="">+91</option> <option value="1">+972</option>
 <option value="2">+198</option> <option value="3">+701</option> </select> <input name="" class="form-control" placeholder="Phone number" type="text"> 
 </div> <!-- form-group// --> 
 <div class="form-group input-group"> <div class="input-group-prepend"> <span class="input-group-text">
 <i class="fa fa-building"></i> </span> </div> 
 
 <select class="form-control"> 
 <option selected=""> Preferred Cource</option> 
    {% for stream in streams %}
        <option>{{stream.title}}</option>
    {% endfor %}
 </select> 

</div> <!-- form-group end.// --> <div class="form-group input-group">
 <div class="input-group-prepend"> <span class="input-group-text"> <i class="fa fa-lock"></i> </span> </div>
 <input class="form-control" placeholder="Create password" type="password"> </div>
 <!-- form-group// --> <div class="form-group input-group"> <div class="input-group-prepend"> 
 <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
 </div> <input class="form-control" placeholder="Repeat password" type="password"> </div> 
 <!-- form-group// --> <div class="form-group"> <button type="submit" class="btn btn-primary btn-block"> Create Account </button> </div> 
 <!-- form-group// --> <p class="text-center text-light">Have an account? <a href="">Log In</a> </p> </form> </article> </div> <!-- card.// --> </div> 
 <!--container end.//--> <br><br> 
 <article class="article-bg"> <div class="card-body text-center"> 
 <h3 class="text-white mt-3">Education made Easy</h3> <p class="h5 text-white">SS 2020</p> <br>
 <p>
     <a class="btn btn-warning"  href="/"> Sigmoid Solutions <i class="fa  "></i></a></p> 
 </div> <br><br> 
 </article>
 </body>
</html>